html,
body {
  height: 100%;
  margin: 0;
}

.admin-container {
  display: flex;
  min-height: 100%;
}

.main-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

/*Tabla de Productos */
.tabla-container {
  flex: 1;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
